@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 768px) {
    .nav-link {
        display: block;
    }
    .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
}