body {
    margin: 0 auto; /* デフォルトの余白をリセット */
}

.color {
    min-height: 100vh; /* ビューポートの高さに合わせる */
    background-color: #f0f6da;
    padding-bottom: 50px;
}

.hospital, .search {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hospital-name {
    font-size: 30px;
}

.search-title {
    font-size: 20px;
}

.search-box {
    width: 300px;
}

.search-button {
    border: 1px solid #6b7280;
    background-color: #ffffff;
    cursor: pointer;
    padding: 5px;
    width: 150px;
}

.sort-button {
    border: 1px solid #6b7280;
    border-radius: 20px;
    text-align: center;
}

.result-posts {
    margin: 20px;
}
.title {
    font-size: 20px;
}

.post {
    margin: 20px;
    border: 1px solid #6b7280;
    border-radius: 10px;
    padding: 20px;
}

.post-title {
    font-size: 20px;
    text-decoration:underline;
}

.smooth, .smooth-examination, .smooth-hospitalization {
    display: inline-block;
}

.smooth {
    font-weight: bold;
}

.body-part {
    border: 1px solid #6b7280;
    border-radius: 3px;
    width: 300px;
    height: 100px;
}

.helpful-button {
    border: 1px solid #6b7280;
    border-radius: 20px;
    text-align: center;
    width: 200px;
    height: 35px;
    background-color: #ffffff;
}

.helpful-button:hover {
    background-color: #f0f0f0;
}